/* Button grid items */

#card {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.grid-item {
  margin: 10px;
  width: 80%;
}

#title {
  grid-column: 1/2;
  grid-row: 1;
}
#device {
  grid-column: 1;
  grid-row: 2;
}
#browser-config {
  grid-column: 2;
  grid-row: 2;
}
#ip-geoloc {
  grid-column: 1;
  grid-row: 3;
}
#other {
  grid-column: 2;
  grid-row: 3;
}

/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text
} */

/* Tooltip text */
.fa-info-circle .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa-info-circle:hover .tooltiptext {
  visibility: visible;
}
